[submodule "network/quorum"]
	path = network/quorum
	url = https://github.com/jpmorganchase/quorum.git
[submodule "network/istanbul-tools"]
	path = network/istanbul-tools
	url = https://github.com/jpmorganchase/istanbul-tools.git
